@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  line-height: 1.33;
  font-weight: 500;
}

.container {
  max-width: 480px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  @include media('min', 'tablet') {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @include media('min', 'descktop') {
    max-width: 1024px;
  }
}

ul,li {
  list-style: none;
  margin: 0;
    padding: 0;
}