$primary-text-color: #FF6B01;
$accent-text-color: #000000;

$header-text-color: #FFFFFF;
$footer-text-color: #545454;

$modal-primary-text: #000000;
$modal-secondary-text: #8C8C8C;

$accent-bg-color: #FF6B01;
$primary-bg-color: #FFFFFF;
