$primary-text-color: #FF6B01;
$accent-text-color: #000000;

$header-text-color: #FFFFFF;
$footer-text-color: #545454;

$modal-primary-text: #000000;
$modal-secondary-text: #8C8C8C;

$accent-bg-color: #FF6B01;
$primary-bg-color: #FFFFFF;

$hover-active-btn: #ec6200;
$hover-regular-btn: #f89b5a;

$header-btn-border: #FFFFFF;
$header-btn-text: #FFFFFF;

$modal-btn-border: #000000;
$modal-active-btn-text: #FFFFFF;
$modal-regular-btn-text: #000000;

$hover-header-ancor: #f28c44;

$bgc-card-btn-remove: #ec6200;

$logo-svg-color: #818181;

