<header class="header">
  <div class="container container__header">
    <div class="header__block">
      <a href="./" id="logo" class="logo">
        <svg class="logo__svg">
          <use href="images/symbol-defs.svg#icon-film"></use>
        </svg>
        <span class="logo__text">Filmoteka</span>
      </a>
      <nav class="site-nav">
        <ul class="site-nav__list">
          <li class="site-nav__item">
            <a href="./" id="home" class="site-nav__link site-nav__link--current">Home</a>
          </li>
          <li class="site-nav__item">
            <a href="#" id="my-library" class="site-nav__link">my library</a>
          </li>
        </ul>
      </nav>
    </div>

    <form class="form">
      <input
        type="text"
        class="form__field"
        placeholder="Поиск фильмов"
        name="name"
        id="name"
        required
      />
      <button class="form__btm" type="submit">
        <svg class="form__svg">
          <use href="images/symbol-defs.svg#icon-search"></use>
        </svg>
      </button>
    </form>

    <div class="header__block-btm header__block-btm--is-hidden">
      <button id="header-btm-1" class="button header__btm header__btm--margin ">Watched</button>
      <button id="header-btm-2" class="button header__btm header__btm--white">queue</button>
    </div>
  </div>
</header>
