<div class="backdrop-team is-hidden" data-backdrop>
  <div class="modal-team">
    <span class="modal-team-name"> OUR TEAM </span>
    <ul class="team-collection">
      <li class="team-box">
        <img class="team-img" src="./images/team/1.jpg" alt="Dmytro Chushko" />
        <div class="team-member">
          <p class="team-member-name">Dmytro Chushko</p>
          <p class="team-member-position">Team Lead</p>
        </div>
      </li>
      <li class="team-box">
        <img class="team-img" src="./images/team/2.jpg" alt="Serhii_Dubovets" />
        <div class="team-member">
          <p class="team-member-name">Serhii Dubovets</p>
          <p class="team-member-position">Developer</p>
        </div>
      </li>
      <li class="team-box">
        <img class="team-img" src="./images/team/3.jpg" alt="3" />
        <div class="team-member">
          <p class="team-member-name">Sarviro Ganna</p>
          <p class="team-member-position">Developer</p>
        </div>
      </li>
      <li class="team-box">
        <img class="team-img" src="./images/team/4.jpg" alt="4" />
        <div class="team-member">
          <p class="team-member-name">Elena Belaya</p>
          <p class="team-member-position">Developer</p>
        </div>
      </li>
      <li class="team-box">
        <img class="team-img" src="./images/team/5.jpg" alt="5" />
        <div class="team-member">
          <p class="team-member-name">Kseniya Komisarova</p>
          <p class="team-member-position">Developer</p>
        </div>
      </li>
      <li class="team-box">
        <img class="team-img" src="./images/team/6.jpg" alt="6" />
        <div class="team-member">
          <p class="team-member-name">Max Loktionov</p>
          <p class="team-member-position">Developer</p>
        </div>
      </li>
      <li class="team-box">
        <img class="team-img" src="./images/team/7.jpg" alt="7" />
        <div class="team-member">
          <p class="team-member-name">Yulia Olshanska</p>
          <p class="team-member-position">Developer</p>
        </div>
      </li>
      <li class="team-box">
        <img class="team-img" src="./images/team/8.jpg" alt="8" />
        <div class="team-member">
          <p class="team-member-name">Viacheslav</p>
          <p class="team-member-position">Developer</p>
        </div>
      </li>
    </ul>
    <button
      type="button"
      class="modal-team_close"
      data-close-modal
      aria-label="close modal"
    >
      X
    </button>
  </div>
</div>
