<div class="backdrop-team is-hidden" data-backdrop>
  <div class="modal-team">
    <span class="modal-team-name"> OUR TEAM </span>
    <ul class="team-collection">
      <li class="team-box">
        <picture>
          <source srcset="./images/team/1_170.jpg 1x, ./images/team/1_340.jpg 2x" type="image/jpeg" media="(min-width: 1024px)" />
          <source srcset="./images/team/1_163.jpg 1x, ./images/team/1_326.jpg 2x" type="image/jpeg" media="(min-width: 768px)" />               
          <source srcset="./images/team/1_175.jpg 1x, ./images/team/1_350.jpg 2x" type="image/jpeg" media="(min-width: 500px)" /> 
          <source srcset="./images/team/1_190.jpg 1x, ./images/team/1_380.jpg 2x" type="image/jpeg" media="(min-width: 320px)" /> 
          <img class='team-img' src="./images/team/1_origin.jpg" alt="Dmytro Chushko" />
          </picture>      
        <div class="team-member">
          <p class="team-member-name">Dmytro Chushko</p>
          <p class="team-member-position">Team Lead</p>
        </div>
      </li>
      <li class="team-box">
        <img class="team-img" src="./images/team/2.jpg" alt="Serhii_Dubovets" />
        <div class="team-member">
          <p class="team-member-name">Serhii Dubovets</p>
          <p class="team-member-position">Developer</p>
        </div>
      </li>
      <li class="team-box">
        <picture>
          <source srcset="./images/team/3_170.jpg 1x, ./images/team/3_340.jpg 2x" type="image/jpeg" media="(min-width: 1024px)" />
          <source srcset="./images/team/3_163.jpg 1x, ./images/team/3_326.jpg 2x" type="image/jpeg" media="(min-width: 768px)" />               
          <source srcset="./images/team/3_175.jpg 1x, ./images/team/3_350.jpg 2x" type="image/jpeg" media="(min-width: 500px)" /> 
          <source srcset="./images/team/3_190.jpg 1x, ./images/team/3_380.jpg 2x" type="image/jpeg" media="(min-width: 320px)" /> 
          <img class='team-img' src="./images/team/3_origin.jpg" alt="Sarviro Ganna" />
          </picture>           
        <div class="team-member">
          <p class="team-member-name">Sarviro Ganna</p>
          <p class="team-member-position">Developer</p>
        </div>
      </li>
      <li class="team-box">
        <picture>
          <source srcset="./images/team/4_170.jpg 1x, ./images/team/4_340.jpg 2x" type="image/jpeg" media="(min-width: 1024px)" />
          <source srcset="./images/team/4_163.jpg 1x, ./images/team/4_326.jpg 2x" type="image/jpeg" media="(min-width: 768px)" />               
          <source srcset="./images/team/4_175.jpg 1x, ./images/team/4_350.jpg 2x" type="image/jpeg" media="(min-width: 500px)" /> 
          <source srcset="./images/team/4_190.jpg 1x, ./images/team/4_380.jpg 2x" type="image/jpeg" media="(min-width: 320px)" /> 
          <img class='team-img' src="./images/team/4_origin.jpg" alt="Elena Belaya" />
          </picture>       
        <div class="team-member">
          <p class="team-member-name">Elena Belaya</p>
          <p class="team-member-position">Developer</p>
        </div>
      </li>
      <li class="team-box">
        <picture>
          <source srcset="./images/team/5_170.jpg 1x, ./images/team/5_340.jpg 2x" type="image/jpeg" media="(min-width: 1024px)" />
          <source srcset="./images/team/5_163.jpg 1x, ./images/team/5_326.jpg 2x" type="image/jpeg" media="(min-width: 768px)" />               
          <source srcset="./images/team/5_175.jpg 1x, ./images/team/5_350.jpg 2x" type="image/jpeg" media="(min-width: 500px)" /> 
          <source srcset="./images/team/5_190.jpg 1x, ./images/team/5_380.jpg 2x" type="image/jpeg" media="(min-width: 320px)" /> 
          <img class='team-img' src="./images/team/5_origin.jpg" alt="Kseniya Komisarova" />
          </picture>           
        <div class="team-member">
          <p class="team-member-name">Kseniya Komisarova</p>
          <p class="team-member-position">Developer</p>
        </div>
      </li>
      <li class="team-box">
        <picture>
          <source srcset="./images/team/6_170.jpg 1x, ./images/team/6_340.jpg 2x" type="image/jpeg" media="(min-width: 1024px)" />
          <source srcset="./images/team/6_163.jpg 1x, ./images/team/6_326.jpg 2x" type="image/jpeg" media="(min-width: 768px)" />               
          <source srcset="./images/team/6_175.jpg 1x, ./images/team/6_350.jpg 2x" type="image/jpeg" media="(min-width: 500px)" /> 
          <source srcset="./images/team/6_190.jpg 1x, ./images/team/6_380.jpg 2x" type="image/jpeg" media="(min-width: 320px)" /> 
          <img class='team-img' src="./images/team/6_origin.jpg" alt="Max Loktionov" />
          </picture>        
        <div class="team-member">
          <p class="team-member-name">Max Loktionov</p>
          <p class="team-member-position">Developer</p>
        </div>
      </li>
      <li class="team-box">
        <picture>
          <source srcset="./images/team/7_170.jpg 1x, ./images/team/7_340.jpg 2x" type="image/jpeg" media="(min-width: 1024px)" />
          <source srcset="./images/team/7_163.jpg 1x, ./images/team/7_326.jpg 2x" type="image/jpeg" media="(min-width: 768px)" />               
          <source srcset="./images/team/7_175.jpg 1x, ./images/team/7_350.jpg 2x" type="image/jpeg" media="(min-width: 500px)" /> 
          <source srcset="./images/team/7_190.jpg 1x, ./images/team/7_380.jpg 2x" type="image/jpeg" media="(min-width: 320px)" /> 
          <img class='team-img' src="./images/team/7_origin.jpg" alt="Yulia Olshanskaya" />
          </picture>          
        <div class="team-member">
          <p class="team-member-name">Yulia Olshanska</p>
          <p class="team-member-position">Developer</p>
        </div>
      </li>
      <li class="team-box">
        <picture>
          <source srcset="./images/team/8_170.jpg 1x, ./images/team/8_340.jpg 2x" type="image/jpeg" media="(min-width: 1024px)" />
          <source srcset="./images/team/8_163.jpg 1x, ./images/team/8_326.jpg 2x" type="image/jpeg" media="(min-width: 768px)" />               
          <source srcset="./images/team/8_175.jpg 1x, ./images/team/8_350.jpg 2x" type="image/jpeg" media="(min-width: 500px)" /> 
          <source srcset="./images/team/8_190.jpg 1x, ./images/team/8_380.jpg 2x" type="image/jpeg" media="(min-width: 320px)" /> 
          <img class='team-img' src="./images/team/8_origin.jpg" alt="Viacheslav" />
          </picture>  
          <div class="team-member">
          <p class="team-member-name">Viacheslav</p>
          <p class="team-member-position">Developer</p>
        </div>
      </li>
    </ul>
    <button
      type="button"
      class="modal-team_close"
      data-close-modal
      aria-label="close modal"
    >
      X
    </button>
  </div>
</div>
