<div class="backdrop-team is-hidden">
    <div class="modal-team container">
    <div class="team-collection">
      <img class='team-img' src="./images/team/1.jpg" alt="1" width="100px" height="200px"  />
      <img class='team-img' src="./images/team/2.jpg" alt="2" width="100px" height="200px"  />
      <img class='team-img' src="./images/team/3.jpg" alt="3" width="100px" height="200px"  />
      <img class='team-img' src="./images/team/4.jpg" alt="4" width="100px" height="200px"  />
      <img class='team-img' src="./images/team/5.jpg" alt="5" width="100px" height="200px"  />
      <img class='team-img' src="./images/team/6.jpg" alt="6" width="100px" height="200px"  />
      <img class='team-img' src="./images/team/7.jpg" alt="7" width="100px" height="200px"  />
      <img class='team-img' src="./images/team/8.jpg" alt="8" width="100px" height="200px"  />
    </div> 
      <button type="button" class="modal-team_close" data-button_close>X</button>
    
  </div>
</div> 