.film-box {
    max-width: 480px;
    padding-top: 20px;
    padding-bottom: 40px;
   
          

    @include media('min', 'tablet') {
      max-width: 768px;
      padding-top: 60px;
      padding-bottom: 60px;
      
      
      
    }
  
    @include media('min', 'desktop') {
      max-width: 1024px;
     }   
}
//для desktop меняется padding-top на странице library
.film-box .liblary{

    padding-top: 20px;
    padding-bottom: 40px;

    @include media('min', 'tablet') {
    padding-top: 60px;
    padding-bottom: 60px;
    }
    @include media('min', 'desktop') {
    padding-top: 32px;
    padding-bottom: 60px;   
    }
}

.films-collection {
    list-style-type: none;
    
    
@include media('min', 'tablet') { 
    display: flex;   
    flex-direction: row; 
    flex-wrap: wrap;
       
    }  
}

.film-card { 
    position: relative;
    cursor: pointer;   
    text-decoration: none;
    margin-bottom: 20px;
    display: block;
    width: 280px;
    margin-right: auto;
    margin-left: auto;
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
      
       
@include media('min', 'tablet') {
    width: calc((100% - 32px) / 2);
    margin-right: 32px;
    margin-left: 0px;
 }
        
 @include media('min', 'desktop') {
      width: calc((100% - 32px) / 3);
      margin-right: 16px;     
      margin-bottom: 32px;
    }
}
.film-card:hover {
    transform: scale(1.05);
}
.film-card:nth-child(2n + 2) { 
    @include media('within', 'desktop') {       
          margin-right: 0px;
      }
    }

.film-card:nth-child(3n + 3) {  
  @include media('min', 'desktop') {
    margin-right: 0px;
    }     
  }   
        
.film-card:nth-last-child(-n + 2) {
    @include media('min', 'desktop') {
        
        margin-bottom: 0px;
        margin-left: 0px;            
        
    }    
}


.film-img {
    width: 100%;
    display: block;
    height: 398px;
    max-width: 280px;
   
 

@include media('min', 'tablet') {       
    height: 455px;
    max-width: 336px;
    }
    
@include media('min', 'desktop') {
    height: 449px;
    max-width: 309px;
    
 }    
}

.film-name {
    text-transform: uppercase;
    margin-bottom: 0px;
    margin-top: 0px;
    &--dark{
        color: #fff;
       }
}

.film-genre,
.film-year_of_issue {
color: $primary-text-color;
}

.film-description {
    padding-top: 10px;
    background-color: #fff;
// background-color: #774032;

@include media('min', 'tablet') {
    padding-top: 8px;
    }
    &--dark{
        background-color:  #0707077a;
       }
}

.film-vote_average{
width: 36px;
height: 16px;
padding: 3px 10px;

background: #FF6B01;
border-radius: 5px;

}

.film-year_of_issue {
    margin-right: 8px;
}

.film-btn_card_remove {
  position: absolute;
  top: 10px;
  right: 10px;

  width: 50px;
  height: 50px;
  padding: 0;
  border: 0;

  border-radius: 50%;

  background-color: $bgc-card-btn-remove;
  background-image: url('../images/cross.svg');
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.film-btn_card_remove:hover {
  transform: rotate(90deg);
}