.film-box {
    max-width: 480px;
    padding-top: 20px;
    padding-bottom: 40px;
   
          

    @include media('min', 'tablet') {
      max-width: 768px;
      padding-top: 60px;
      padding-bottom: 60px;
      
      
      
    }
  
    @include media('min', 'descktop') {
      max-width: 1024px;
     }   
}
//для desktop меняется padding-top на странице library
.film-box .liblary{

    padding-top: 20px;
    padding-bottom: 40px;

    @include media('min', 'tablet') {
    padding-top: 60px;
    padding-bottom: 60px;
    }
    @include media('min', 'descktop') {
    padding-top: 32px;
    padding-bottom: 60px;   
    }
}

.films-collection {
    list-style-type: none;
    
    
@include media('min', 'tablet') { 
    display: flex;   
    flex-direction: row; 
    flex-wrap: wrap;
       
    }  
}

.film-card { 
    cursor: pointer;   
    text-decoration: none;
    margin-bottom: 20px;
    display: block;
    width: 280px;
    margin-right: auto;
    margin-left: auto;
      
       
@include media('min', 'tablet') {
    width: calc((100% - 32px) / 2);
    margin-right: 32px;
    margin-left: 0px;
 }
        
 @include media('min', 'descktop') {
      width: calc((100% - 32px) / 3);
      margin-right: 16px;     
      margin-bottom: 32px;
    }
}
 
.film-card:nth-child(2n + 2) { 
    @include media('within', 'descktop') {       
          margin-right: 0px;
      }
    }

.film-card:nth-child(3n + 3) {  
  @include media('min', 'descktop') {
    margin-right: 0px;
    }     
  }   
        
.film-card:nth-last-child(-n + 2) {
    @include media('min', 'descktop') {
        
        margin-bottom: 0px;
        margin-left: 0px;            
        
    }    
}


.film-img {
    width: 100%;
    display: block;
    height: 398px;
    max-width: 280px;
   
 

@include media('min', 'tablet') {       
    height: 455px;
    max-width: 336px;
    }
    
@include media('min', 'descktop') {
    height: 449px;
    max-width: 309px;
    
 }    
}

.film-name {
    text-transform: uppercase;
    margin-bottom: 0px;
    margin-top: 0px;
}

.film-genre,
.film-year_of_issue {
color: $primary-text-color;
}

.film-description {
margin-top: 10px;

@include media('min', 'tablet') {       
    margin-top: 8px;
    }
}

.film-vote_average{
width: 36px;
height: 16px;
padding: 3px 10px;

background: #FF6B01;
border-radius: 5px;

}

.film-year_of_issue {
    margin-right: 8px;
}