footer{
   background-color: #F7F7F7;
}
.footer{
   display: flex;
   justify-content: center;
   color:#545454;
   font-family: 'Roboto';
   font-weight: 400;
   font-size: 14px;
   line-height: 16px;
}