footer{
   background-color: #F7F7F7;
 position: fixed;
 width: 100%;
 height: 50px;
 bottom: 0;
 left: 0;

}
.footer{
   display: flex;
   justify-content: center;
   color:#545454;
   font-family: 'Roboto';
   font-weight: 400;
   font-size: 14px;
   line-height: 16px;
   padding: 0 0 30px 0;
   
   
}
.footer__img{
   padding: 0 10px;
   @media(max-width: 758px){
      padding-top: 10px;
    }
}
.footer__text{
   @media(max-width: 758px){
      max-width: 320px;
      text-align: center;
      padding: 0 15px;
      
    }
}
.team-modal {
   text-decoration: underline;
   cursor: pointer;
   border: none;
   color: #545454;
   transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .team-modal:hover,
 .team-modal:focus {
   transform: scale(1.2);
 }