$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;

body{
   background-image:   url(/src/images/theatre.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   background-position-y: center;
}

.container--bg-color{
   @include media('min', 'desktop') {
      background-color: white;
   }
}


.header {
   background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/src/images/home/mob.png);
   background-size: cover;
   background-position: center;
   height: 230px;
   min-width: 320px;
   margin:  auto;
 
   @include media('min', 'tablet') {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/src/images/home/tabl.png);
     min-width: 768px;
     height: 215px;
   }
 
   @include media('min', 'desktop') {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/src/images/home/desk.png);
   width: 1024px;
   }

   &--library{
   background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/src/images/my-library/mob-2.png);
   @include media('min', 'tablet') {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/src/images/my-library/tabl-2.png);
   }
 
   @include media('min', 'desktop') {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/src/images/my-library/desk-2.png);

   }
 }
 }

 .container__header{
position: relative;
 }
 

 .logo{
   
   display: flex;
   align-items: center;
   text-align: center;
   text-decoration: none;
   
}
.logo__svg{
   width: 24px;
   height: 24px;
   margin-right: 10px;
}

.logo__text {
   display: none;
   
   @include media('min', 'tablet') {
      display: block;
      
      color: $header-text-color;

      font-size: 30px;
      line-height: 1.16;
   }
 }

.header__block {
   display: flex;
   justify-content: space-between;

   padding-top: 40px;
}

.site-nav{
   display: flex;
   align-items: center;
}

.site-nav__list{
   display: flex;
   
}

.site-nav__item:not(:last-child){
   margin-right: 39px;
}

.site-nav__link{
   transition: color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
   color: $header-text-color;
   
   text-align: center;
   text-transform: uppercase;
   text-decoration: none;

   position: relative;
   &:hover,
   &:focus{
      color: $hover-header-ancor;
   }
}

.site-nav__link--current {
     &::after {
       content: '';
       position: absolute;
       bottom: -3px;
       left: 0;
       width: 100%;
       height: 4px;
       border-radius: 2px;
 
       background-color: $accent-bg-color;
     }
 }

 .form {
    display: flex;
    position: relative;
    width: 280px;
    height: 20px;
    margin-right: 50%;
    margin-left: 50%;
    transform: translate(-50%, 0);
    margin-top: 54px;

 @include media('min', 'tablet') {
    width: 336px;
    margin-top: 41px;
 
 }
     &--is-hidden{
       display: none;
     }
}
 
 .form__field {
   font-family: 'Roboto';
   width: 100%;
   border: 0;
   border-bottom: 2px solid $header-text-color;
   outline: 0;
   font-weight: 400;
   font-size: 16px;
   color: $white;
   padding-bottom: 4px;
   background: transparent;
   transition: border-color 0.2s;
   
   &::placeholder {
      color: $header-text-color;
   font-size: 14px;
   }
 }
 
 .form__field:focus,
 .form__field:hover {
    padding-bottom: 4px;  
    font-weight: 400;
    border-width: 3px;
    border-image: linear-gradient(to right, $primary,$secondary);
    border-image-slice: 1;
    &::placeholder{
       color: #969696;
       font-size: 12px;
    }
 }

 .form__btn{
   position: absolute;
   right: 0px;
   width: 16px;
   height: 16px;
   padding: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   border: none;
   background: transparent;
   cursor: pointer;
   
 }

 .form__svg{
   width: 12px;
   height: 12px;
   fill: $header-text-color;
 }

 
 .header__block-btn{
    margin-top: 62px;
    
    display: flex;
    justify-content: center;
    
    @include media('min', 'tablet') {
       margin-top: 40px;
      }
      &--is-hidden{
         display: none;
      }
   }

   .dark-block{
      position: absolute;
      right: 30px;
      top: 14px;
   }

   .dark-block span {
      color: #fff;
      font-size: 18px;
   }
   
   .dark  {
      background-image: linear-gradient(to right, #0000008f, #0000008f), url(/src/images/theatre.jpg);
  }

//   .film-description--dark{
//    background-color: #774032bd;
//   }

.container--bg-color-dark{
   background-color: #ffffff1a;
}
  
  .film-name--dark{
   color: white;
  }

  .dark a {
   color: #fff;
}

.film-description{
background-color: #fff;
}