.backdrop-team{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(245, 172, 120, 1); 
   
    overflow-y: scroll;
  }

  .backdrop-team.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  .modal-team{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -55%);
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    height: 300px;

    @include media('min', 'tablet') {
      left: 50%;
      top: 50%;
      width: 650px;
      height: 450px;
  
      } 
    
    @include media('min', 'desktop') {
    width: 900px;
    height: 550px;

    }

  }
.modal-team-name {
  display: block;
  color: #ffffff;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

  .team-collection {
    
      display: flex;   
      flex-direction: row; 
      flex-wrap: wrap;             
       
  }

  .team-box {
    max-width: 200px;
    text-decoration: none;
    margin-bottom: 20px;
    display: block;
    border: solid 5px #ffffff;
    border-radius: 30px;
    overflow: hidden;
    background-color: #ffffff;
    cursor: pointer; 
   
    margin-right: 10px;
    margin-bottom: 10px; 
    width: calc((100% - 20px) / 2);


  @include media('min', 'tablet') {
  margin-right: 20px;
  margin-bottom: 10px; 
    width: calc((100% - 40px) / 3);
    
 }
        
 @include media('min', 'desktop') {
  margin-right: 30px;
  margin-bottom: 10px;  
      width: calc((100% - 90px) / 4);
      
    }
}
 
.team-box:nth-child(3n + 3) { 
    @include media('within', 'desktop') {       
          margin-right: 0px;
      }
    }

.team-box:nth-child(4n + 4) {  
  @include media('min', 'desktop') {
    margin-right: 0px;
    }     
  }   
        
.team-box:nth-last-child(-n + 4) {
    @include media('min', 'desktop') {        
        margin-bottom: 0px;          
        
    }    
}

.modal-team_close{
  position: absolute;
  top: 40px;
  right: -5px;
  padding: 0;
  width: 22px;
  height: 22px;
  color: #999966;
  border-color: #ccccb3;
  border-radius: 30%;
  font-size: 15px; 
  cursor: pointer;
  } 

  .modal-team_close:hover {
    color: rgba(245, 172, 120, 1); 
  }

  .team-img {
    display: block;
    width: 100%;
    height: 200px;
    transition: transform 500ms linear;
    margin-bottom: 0px;
    
    
    
  }

  .team-img:hover {
transform: rotateY(180deg);
  }

  .team-member-name,
  .team-member-position {
    margin-bottom: 0px;   
    text-align: center;
  }
  .team-member-position {
    color: rgba(173, 132, 102, 1);
    font-weight: bold;
    font-size: 15px;
    
    margin-top: 0px;
  }
  
  
  
  .team-member-name {
    color: $primary-text-color;
    margin-top: 0px;
    font-weight: bold;
    font-size: 18px;
  }

  .team-modal {
    text-decoration: underline;
    cursor: pointer;
  }